Django==1.6.4
TwitterAPI==2.1.13
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.17
celery==3.1.11
dj-database-url==0.3.0
dj-static==0.0.5
django-celery==3.1.10
django-toolbelt==0.0.1
gunicorn==18.0
kombu==3.0.16
messaging==1.0
oauthlib==0.6.1
psycopg2==2.5.2
pystache==0.5.3
python-memcached==1.53
pytz==2014.2
requests==2.1.0
requests-oauthlib==0.4.0
static==1.0.2
twython==3.1.2
twython-django==1.5.2
wsgiref==0.1.2
